<!DOCTYPE html>
<html lang="en">
    <!--Im head werden allgemeine Einstellungen zur Website festgelegt-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Der title erscheint im Browser TAB-->
    <title>N27 - About</title>
</head>
    <!--Im Body steht der Inhalt der Website, was im Browser angezeigt wird-->
<body>
    <!--Überschrift der Größe 1-->
    <h1>Über uns</h1>
    za154295@students.berufskolleg-borken.de
    <br>Josefstraße</br>
    <br>Sitz</br>
    <br>123456789</br>
    <br> Evtl. Telefonnummer für Support</br>
    <br></br>
    <br></br>
</body>
</html>