<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type=text/css href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N27 Startseite</title>
</head>

<div> 
    hallo
</div>
<body>
<header><h1> Herzlich Wilkommen in der N27 Bank</h1></header>
<br>
<br>
<br>

<p>
    <button type="button">Überweisen</button>
</p>

<p>
    <button type="button">Einzahlen</button>
</p>

<p>
    <button type="button">Auszahlen</button>
</p>

<p>
    <button type="button">Überweisen</button>
</p>

<br>
<br>
<br>
<a href="http://berufskolleg-borken.de" target="_blank"> BKB
</a>

    <hr>

    <table border="1">
        <tr>
          <td>Zeile1 Spalte1</td</>
          <td>Zeile1 Spalte2</td>
        </tr>
        <tr>
            <td>Zeile2 Spalte1</td</>
            <td>Zeile2 Spalte2</td>
          </tr>
      </table>


      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>

      <ol>
            <li>1</li>
            <li>2</li>
            <li>3</li>
      </ol>

<footer><h2>Impressum 
<p>za154295@students.berufskolleg-borken.de</p>
<p>Josefstraße</p>
<p>Sitz</p>
<p>Evtl. Telefonnummer für Support</p>
</h2></footer>
    
</body>
</html>
