<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/">
        <label for="fname">Benutzer-ID:</label><br>
        <input type="number" id="idBenutzer" ><br>
        <label for="lname">Passwort:</label><br>
        <input type="password" id="Kennwort" ><br><br>
        <input type="submit" value="Einloggen">
      </form> 
</body>
</html>