/*Arne Zender*/

body{font-family: 'Courier New', Courier, monospace;
    Font-size:x-small;
    color: greenyellow
}

table{background-color:lavender
}

button{color:hotpink;
    background-color:khaki;
    radius: 10px;
}

hyperlink{font-family: arial,sans-serif;
}

hr{border:solid #00ffff 3px;
    background-color:#0000ff;
    height: 10px;
    width: 50px;
}